<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_JNP"
        tools:targetApi="31">
        <activity
            android:name=".MenuUser_Test"
            android:exported="false" />
        <activity
            android:name=".MainMenu_Screen"
            android:exported="false" />
        <activity
            android:name=".LogInForm_Screen"
            android:exported="false" />
        <activity
            android:name=".RegisterForm_Screen"
            android:name=".CreateCloset"
            android:exported="false" />
        <activity
            android:name=".CRUDClosets"
            android:exported="false" />
        <activity
            android:name=".AddMoreClothes"
            android:exported="false" />
        <activity
            android:name=".LogIn_Screen"
            android:name=".SuitcaseCloset"
            android:exported="false" />
        <activity
            android:name=".SpringCloset"
            android:exported="false" />
        <activity
            android:name=".AutumCloset"
            android:exported="false" />
        <activity
            android:name=".SummerCloset"
            android:exported="false" />
        <activity
            android:name=".DataJacket"
            android:exported="false" />
        <activity
            android:name=".JacketsCloset"
            android:exported="false" />
        <activity
            android:name=".WinterCloset"
            android:exported="false" />
        <activity
            android:name=".AllCloset"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterForm_Screen"
            android:exported="false" />
        <activity
            android:name=".LogIn_Screen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>